<div id="billboard">
  <ul id="buttons">
    <li><a class="off on" href="#">1</a></li>
    <li><a class="off" href="#">2</a></li>
    <li><a class="off" href="#">3</a></li>
    <li><a class="off" href="#">4</a></li>
  </ul>
  <div id="ads">
    <ul></ul>
  </div>
</div>

<div id="menu">
  <ul></ul>
</div>

<div class="left">
  <div id="quotes">
    <h2>Promover a educação cidadã para a empregabilidade, a sustentabilidade e o cruzamento de fronteiras&#8221;</h2>
    <ul class="nav">
      <li><a href="#">Missão</a></li>
      <li><a href="#">Valores</a></li>
      <li><a href="#">Visão de Futuro</a></li>
    </ul>
  </div>
  <hr class="line-dashed" />
  <div id="video">
    <div id="player"><%= image_tag "mock-player-small.png", :size => "200x144", :alt => "video" %></div>
    <div id="desc">
      <h4><a href="#">Você está contratado!</a></h4>
      <p>Palestra de abertura da II Jornada Empresarial, proferida pelo consultor do SEBRAE e conselheiro do programa O Aprendiz, Cláudio Forner</p>
      <p class="small">Duração: 1h 25min</p>
    </div>
  </div>
  <hr class="line-dashed" />
  <div id="agenda">
    <h2>Agenda</h2>
    <div>
      <h4><a href="#">Tópicos em Prevenção e Reabilitação de Lesões Esportivas</a></h4>
      <p>30 de Dezembro, às 23:50</p>
    </div>
    <div>
      <h4><a href="#">Tópicos em Prevenção e Reabilitação de Lesões Esportivas</a></h4>
      <p>30 de Dezembro, às 23:50</p>
    </div>
    <div>
      <h4><a href="#">Tópicos em Prevenção e Reabilitação de Lesões Esportivas</a></h4>
      <p>30 de Dezembro, às 23:50</p>
    </div>
    <div>
      <h4><a href="#">Tópicos em Prevenção e Reabilitação de Lesões Esportivas</a></h4>
      <p>30 de Dezembro, às 23:50</p>
    </div>
    <div>
      <h4><a href="#">Tópicos em Prevenção e Reabilitação de Lesões Esportivas</a></h4>
      <p>30 de Dezembro, às 23:50</p>
    </div>
  </div>
  <div id="carreira">
    <h2>Carreira</h2>
    <div>
      <h4><a href="#">WOLI Consultoria e Treinamento</a></h4>
      <p>1 vaga de emprego para atuar na área de produção de textos</p>
    </div>
    <div>
      <h4><a href="#">WOLI Consultoria e Treinamento</a></h4>
      <p>1 vaga de emprego para atuar na área de produção de textos</p>
    </div>
    <div>
      <h4><a href="#">WOLI Consultoria e Treinamento</a></h4>
      <p>1 vaga de emprego para atuar na área de produção de textos</p>
    </div>
    <div>
      <h4><a href="#">WOLI Consultoria e Treinamento</a></h4>
      <p>1 vaga de emprego para atuar na área de produção de textos</p>
    </div>
    <div>
      <h4><a href="#">WOLI Consultoria e Treinamento</a></h4>
      <p>1 vaga de emprego para atuar na área de produção de textos</p>
    </div>
  </div>
</div>

<div class="right">
  <h1>Notícias</h1>
  <div class="news">
    <div id="thumb"><%= image_tag "mock-thumb-small-1.jpg", :size => "70x60", :alt => "imagem" %></div>
    <div id="desc">
      <h4><a href="#">Você está contratado!</a></h4>
      <p>Palestra de abertura da II Jornada Empresarial, proferida pelo consultor do SEBRAE e conselheiro do programa O Aprendiz, Cláudio Forner.</p>
      <p class="small">Em 10 de Junho, às 12:50</p>
    </div>
  </div>
  <div class="news">
    <div id="thumb"><%= image_tag "mock-thumb-small-2.jpg", :size => "70x60", :alt => "imagem" %></div>
    <div id="desc">
      <h4><a href="#">Você está contratado!</a></h4>
      <p>Palestra de abertura da II Jornada Empresarial, proferida pelo consultor do SEBRAE e conselheiro do programa O Aprendiz, Cláudio Forner.</p>
      <p class="small">Em 10 de Junho, às 12:50</p>
    </div>
  </div>
  <div id="sponsors">
    <h6>Parceiros</h6>
    <div id="arrow-left"><%= image_tag "arrow-left.png", :size => "10x13", :alt => "imagem" %></div>
    <div id="logos">
      <ul>
        <li><%= image_tag "mock-sponsor-1.png", :size => "112x54", :alt => "imagem" %></li>
        <li><%= image_tag "mock-sponsor-2.png", :size => "112x54", :alt => "imagem" %></li>
        <li><%= image_tag "mock-sponsor-1.png", :size => "112x54", :alt => "imagem" %></li>
        <li><%= image_tag "mock-sponsor-2.png", :size => "112x54", :alt => "imagem" %></li>
      </ul>
    </div>
    <div id="arrow-right"><%= image_tag "arrow-right.png", :size => "10x13", :alt => "imagem" %></div>
  </div>
  <div class="news">
    <div id="thumb"><%= image_tag "mock-thumb-small-3.jpg", :size => "70x60", :alt => "imagem" %></div>
    <div id="desc">
      <h4><a href="#">Você está contratado!</a></h4>
      <p>Palestra de abertura da II Jornada Empresarial, proferida pelo consultor do SEBRAE e conselheiro do programa O Aprendiz, Cláudio Forner.</p>
      <p class="small">Em 10 de Junho, às 12:50</p>
    </div>
  </div>
  <div class="news">
    <div id="thumb"><%= image_tag "mock-thumb-small-4.jpg", :size => "70x60", :alt => "imagem" %></div>
    <div id="desc">
      <h4><a href="#">Você está contratado!</a></h4>
      <p>Palestra de abertura da II Jornada Empresarial, proferida pelo consultor do SEBRAE e conselheiro do programa O Aprendiz, Cláudio Forner.</p>
      <p class="small">Em 10 de Junho, às 12:50</p>
    </div>
  </div>
  <div class="news">
    <div id="thumb"><%= image_tag "mock-thumb-small-5.jpg", :size => "70x60", :alt => "imagem" %></div>
    <div id="desc">
      <h4><a href="#">Você está contratado!</a></h4>
      <p>Palestra de abertura da II Jornada Empresarial, proferida pelo consultor do SEBRAE e conselheiro do programa O Aprendiz, Cláudio Forner.</p>
      <p class="small">Em 10 de Junho, às 12:50</p>
    </div>
  </div>
</div>
